<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="<%- applicationIdContext %>"
    android:versionName="1.0.0"
    android:installLocation="auto"
    android:versionCode="1">
    <uses-sdk 
        android:minSdkVersion="21"
        android:targetSdkVersion="33" />
    <application 
        android:theme="@style/AppTheme.Main"
        android:usesCleartextTraffic="true"
        android:label="<%- applicationNameContext %>"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <provider 
            android:name="androidx.core.content.FileProvider"
            android:authorities="<%- applicationIdContext %>.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <queries>
        <package android:name="com.google.android.apps.maps" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="yandexmaps" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="vnd.android.cursor.dir/image" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>
